.study-text {
  display: flex;
  justify-content: center;
  background-color: aqua;
  height: 50px;
  margin-top: 20px;
}

.formButton{
  text-align:center;
  color: #fff;
  background: #5bbee5;
}
.formButton{
   border-radius: 100vh;
}

