.study-text {
  display: flex;
  justify-content: center;
  background-color: aqua;
  height: 50px;
  margin-top: 20px;
}

.formButton{
  width: 200px;
  text-align:center;
  margin: auto;
  color: #fff;
  background: #5bbee5;
  border-radius: 100vh;
  margin-top: 10px;
  border : 1px solid black ;
}

:root {
  // パネルの表示範囲を指定
  --f7-panel-width: 30%;
}

.pagePanel{
  width: 30%;
  
}

