.upperBox {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    .redBox {
        padding: 30px;
        background: red;
    }
    .blueBox {
        padding: 30px;
        background: blue;
    }
    .greenBox {
        padding: 30px;
        background: green;
    }
}
.underBox {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    .pinkBox {
        padding: 30px;
        background: pink;
    }
    .violetBox {
        padding: 30px; 
        background: violet;
    }
}
.overBox {
    margin: 30px;
    padding: 60px;
    position: relative;
    .redBox {
        position: absolute;
        background: red;
        padding: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .violetBox {
        position: absolute;
        padding: 40px;
        top: 50%;
        left: 50%;
        background: violet;
        transform: translate(-50%, -50%);
    }
    .yellowBox {
        position: absolute;
        padding: 20px;
        top: 50%;
        left: 50%;
        background: yellow;
        transform: translate(-50%, -50%);
    }
}
